@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Space Grotesk', monospace;
  --color-primary: #06b6d4;
  --color-secondary: #8b5cf6;

  --animate-scanline: scanline 8s linear infinite;

  @keyframes scanline {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(100%);
    }
  }
}

@layer base {
  body {
    @apply bg-[#030303] text-white font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(6, 182, 212, 0.5);
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
}